Source: libbiddy1
Section: libs
Priority: extra
Maintainer: Robert Meolic <robert@meolic.com>
Build-Depends: debhelper (>= 8.0.0), libgmp-dev
Standards-Version: 4.1.4

Package: libbiddy1-dev
Section: libdevel
Architecture: any
Depends: libbiddy1 (= ${binary:Version}), ${misc:Depends}
Description: Multi-platform academic BDD package
 http://biddy.meolic.com/
 Biddy is a special purpose mathematical library (Binary Decision
 Diagrams package). It supports ROBDDs, 0-sup-BDDs, and tagged 0-sup-BDDs.
 Biddy is oriented towards readable and comprehensible source code in C.
 Biddy is used in BDD Scout (an interactive BDD visualization tool)
 and EST (a tool for formal verification of systems).
 This package contains the development headers, only.

Package: libbiddy1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-platform academic BDD package
 http://biddy.meolic.com/
 Biddy is a special purpose mathematical library (Binary Decision
 Diagrams package). It supports ROBDDs, 0-sup-BDDs, and tagged 0-sup-BDDs.
 Biddy is oriented towards readable and comprehensible source code in C.
 Biddy is used in BDD Scout (an interactive BDD visualization tool)
 and EST (a tool for formal verification of systems).
