<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="Biddy" Language="1033" Version="1.9.1" Manufacturer="Robert Meolic" UpgradeCode="6a7bf51c-3ec1-479e-aa40-4496ff579f36">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<Feature Id="MainApplication" Title="BiddyProduct" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="biddy-191" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="COPYING">
        <File Id="copying" Source="../COPYING"/>
      </Component>
      <Component Id="CHANGES">
        <File Id="changes" Source="../CHANGES"/>
      </Component>
      <Component Id="BIDDYDLL">
        <File Id="biddydll" Source="./x64/biddy.dll"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
